.header#bird-box
	.back-bird
	.logo
	.fore-bird

.content
	%article
		%h1#title Clothing Shop
		%hr
		%p#content Pour-over art party 3 wolf moon, aesthetic marfa chia four dollar toast quinoa wayfarers jean shorts. Selvage DIY meh brunch deep v. Pitchfork stumptown tofu, quinoa fanny pack umami sustainable tousled. Pork belly fashion axe asymmetrical, meggings mlkshk raw denim keffiyeh. Chia craft beer typewriter gluten-free you probably haven't heard of them, plaid XOXO echo park knausgaard. PBR&B before they sold out williamsburg farm-to-table leggings slow-carb. Taxidermy direct trade cray, VHS literally iPhone fingerstache man bun.
		%hr
		.clothes-pics
			.row
				.col-lg-4
					%figure
						= image_tag("model1.jpg")
						%figcaption 
							BlackBird Sweater - 
							%strong 150$
				.col-lg-4
					%figure
						= image_tag("model2.jpg")
						%figcaption 
							BlackBird Jacket - 
							%strong 250$
				.col-lg-4
					%figure
						= image_tag("model3.jpg")
						%figcaption 
							BlackBird Trousers - 
							%strong 300$
			.row
				.col-lg-4
					%figure
						= image_tag("model4.jpg")
						%figcaption 
							Contrast Jacket - 
							%strong 250$
				.col-lg-4
					%figure
						= image_tag("model5.jpg")
						%figcaption 
							Bomber Jacket - 
							%strong 80$
				.col-lg-4
					%figure
						= image_tag("model6.jpg")
						%figcaption 
							Contrast Jacket - 
							%strong 150$
			.row
				.col-lg-4.figure
					%figure
						= image_tag("model7.jpg")
						%figcaption 
							Check Jacket - 
							%strong 150$
				.col-lg-4.figure
					%figure
						= image_tag("model8.jpg")
						%figcaption 
							Denim Jacket - 
							%strong 250$
				.col-lg-4.figure
					%figure
						= image_tag("model9.jpg")	
						%figcaption 
							Comuflage Jacket - 
							%strong 150$					

		%h1#title2 Clothing Shop
		%hr
		%p#content Pour-over art party 3 wolf moon, aesthetic marfa chia four dollar toast quinoa wayfarers jean shorts. Selvage DIY meh brunch deep v. Pitchfork stumptown tofu, quinoa fanny pack umami sustainable tousled. Pork belly fashion axe asymmetrical, meggings mlkshk raw denim keffiyeh. Chia craft beer typewriter gluten-free you probably haven't heard of them, plaid XOXO echo park knausgaard. PBR&B before they sold out williamsburg farm-to-table leggings slow-carb. Taxidermy direct trade cray, VHS literally iPhone fingerstache man bun.
		%hr
		
		.large-window
			.window-tint
				.promo-text 
					Fall Suits
					%strong
						%span 
							From 
						99$	
					%a.cta-window{:href => ""} Shop Now!			
		%h1#title Online and in Stores
		%hr
		%p#content Pour-over art party 3 wolf moon, aesthetic marfa chia four dollar toast quinoa wayfarers jean shorts. Selvage DIY meh brunch deep v. Pitchfork stumptown tofu, quinoa fanny pack umami sustainable tousled. Pork belly fashion axe asymmetrical, meggings mlkshk raw denim keffiyeh. Chia craft beer typewriter gluten-free you probably haven't heard of them, plaid XOXO echo park knausgaard. PBR&B before they sold out williamsburg farm-to-table leggings slow-carb. Taxidermy direct trade cray, VHS literally iPhone fingerstache man bun.
		%hr
		
		.blog-posts
			.row
				.col-lg-4
					.post.post-1
						%h5 Post title
						= image_tag("one.jpg")
						%p Pour-over art party 3 wolf moon, aesthetic marfa chia four dollar.
						%a{:href => ""} Read More	
				.col-lg-4
					.post.post-2
						%h5 Post title
						= image_tag("two.jpg")
						%p Pour-over art party 3 wolf moon, aesthetic marfa chia four dollar.
						%a{:href => ""} Read More	
				.col-lg-4
					.post.post-3
						%h5 Post title
						= image_tag("three.jpg")
						%p Pour-over art party 3 wolf moon, aesthetic marfa chia four dollar.
						%a{:href => ""} Read More					

.footer
	.row.footer-stuff
		.col-lg-3
			%strong FIND US ON
			%ul
				%li
					%a{:href => ""} Twitter	
				%li
					%a{:href => ""} Facebook
				%li
					%a{:href => ""} Pinterest
				%li
					%a{:href => ""} Instagram		
		.col-lg-3
			%strong OTHER SHOPS
			%ul
				%li
					%a{:href => ""} Red Hood	
				%li
					%a{:href => ""} Desert Eaagle
				%li
					%a{:href => ""} Othertees
				%li
					%a{:href => ""} Drop Dead		
		.col-lg-6
			%p <strong> Sign Up for Newsletter. </strong> Pour-over art party 3 wolf moon, aesthetic marfa chia four dollar toast quinoa wayfarers jean shorts.		
			%form.row	
				.col-lg-8
					.form-group
						%input.form-control{type: "text", placeholder: "Your email"}
				.col-lg-4
					%button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"} Submit	