.header#bird-box
	.back-bird
	.logo
	.fore-bird

.content#article
	%h1#title Clothing shop
	%hr
	%p#content Pour-over art party 3 wolf moon, aesthetic marfa chia four dollar toast quinoa wayfarers jean shorts. Selvage DIY meh brunch deep v. Pitchfork stumptown tofu, quinoa fanny pack umami sustainable tousled. Pork belly fashion axe asymmetrical, meggings mlkshk raw denim keffiyeh. Chia craft beer typewriter gluten-free you probably haven't heard of them, plaid XOXO echo park knausgaard. PBR&B before they sold out williamsburg farm-to-table leggings slow-carb. Taxidermy direct trade cray, VHS literally iPhone fingerstache man bun.
	%hr
	.clothes-pics
		%row
			.col-lg-4.figure
				= image_tag("model1.jpg")
			.col-lg-4.figure
				= image_tag("model2.jpg")
			.col-lg-4.figure
				= image_tag("model3.jpg")
		%row
			.col-lg-4.figure
				= image_tag("model2.jpg")
			.col-lg-4.figure
				= image_tag("model1.jpg")
			.col-lg-4.figure
				= image_tag("model3.jpg")
		%row
			.col-lg-4.figure
				= image_tag("model3.jpg")
			.col-lg-4.figure
				= image_tag("model2.jpg")
			.col-lg-4.figure
				= image_tag("model3.jpg")						